.licence-view{
  .content-wrapper{
    width:500px;
    display:block;

    .meta{
      display:flex;
      span.label{
        display:inline-block;
        width:300px;
      }
    }
  }
}

.licence-button {
   &.form-actions {
     margin-top: 50px;
     width: 50%;
     display: flex;
     justify-content: flex-end;
     align-items: baseline;
   }
 }